<html ng-app="fileRoom">
<head>
	<meta charset="utf-8" />
	<title>The File Room</title>

	<link rel="stylesheet" type="text/css" href="./libs/semantic/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="./index.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="./libs/semantic/javascript/semantic.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-route.min.js"></script>
	<script src="./index.js"></script>
</head>
<body ng-controller="TabController as tabs">
	<div class="ui three item inverted menu">
		<a class="item" ng-click="tabs.select(1)" ng-class="{active: tabs.isSelected(1)}"><i class="big search icon"></i> Search</a>
		<a class="item" ng-click="tabs.select(2)" ng-class="{active: tabs.isSelected(2)}"><i class="big settings icon"></i>  Settings</a>
		<a class="item" ng-click="tabs.select(3)" ng-class="{active: tabs.isSelected(3)}"><i class="big help icon"></i>  Help</a>
	</div>
	<div class="ui two column doubling stackable grid" ng-controller="MenuController as menu" ng-show="tabs.isSelected(1)">
		<div class="five wide column">
			<div class="ui fluid inverted vertical menu">
				<div class="header item">Facets</div>
				<div class="ui item" ng-repeat="menuItem in menu.items">
					<div class="ui two column grid">
						<div class="column"><p>{{menuItem.name}}</p></div>
						<div class="column">
							<div class="ui fluid selection dropdown">
								<div class="text">Select</div>
								<div class="menu">
									<div class="item" ng-repeat="selection in menuItem.list">{{selection}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="eleven wide column">
			<div class="ui pile segment">
				<h2 class="ui header">The File Room</h2>
				<div class="ui fluid action icon input">
					<input type="text" placeholder="Search...">
					<i class="inverted search icon"></i>
				</div>
				<br>
				<div class="ui orange ribbon label">Results</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>

	<div ng-show="tabs.isSelected(2)">
		<p>{{feedback.text}}</p>
		<h2 class="section ui header">Give Us Feedback!</h2>
		<div class="centered"><div class="ui form purple segment">
			<div class="two fields">
				<div class="field">
					<label>Name</label>
					<div class="ui left labeled icon input">
						<input type="text">
						<i class="inverted user icon"></i>
					</div>
				</div>
				<div class="field">
					<label>Email</label>
					<div class="ui left labeled icon input">
						<input type="text">
						<i class="inverted mail icon"></i>
					</div>
				</div>
			</div>

			<div class="field">
				<label>Feedback:</label>
				<textarea ng-model="feedback.text"></textarea>
			</div>

			<div class="fluid ui inverted purple submit button">Submit</div>
		</div></div>
	</div>

	<div ng-show="tabs.isSelected(3)">
		<div class="facet-view-simple"></div>
	</div>
</body>
</html>